{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alunos</title>
  <link rel="stylesheet" href="{% static 'globals.css' %}">
  <link rel="stylesheet" href="{% static 'home.css' %}">
</head>

<body>
  <header>
    <img src="" alt="" srcset="">
  </header>
  <main>
    <section class="users-table">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Link</th>
          </tr>
        </thead>
        <tbody>
          {% for student in students %}
          <tr>
            <th>{{ student.name }}</th>
            <th>{{ student.email }}</th>
            <th><a href="{% url 'student_detail' student.id %}">Details</a></th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form }}
      <button type="submit">submit</button>
    </form>
  </main>
</body>
</html>